body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

canvas {
    width: 95%;
    height: auto;
    border: 1px solid #ddd;
    display: block;
}

.controlsContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 0.3rem;
    margin: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}